{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block container %}

<body
    style="background-image: url({{ url_for('static',filename='assets/img/header-bg.jpg')}}); background-position: center;">
    <!-- logo on upper right corner-->
    <div style=" position:absolute fixed top; padding-left: 5rem; padding-top: 3rem;" class="logo">
        <a href="index.html"><img style="max-width: 5%;  height: auto;"
                src="{{ url_for('static',filename='assets/img/logo-solo.png') }}" alt="logo"></a>
    </div>
    <!--edit form-->
    <div class="row">
        <div class="inputBox" style="z-index: 10;">
            <img class="user" src="{{ url_for('static',filename='assets/img/login-icon.png') }}" height="100px"
                width="100px">
                <form action="/edit_profile" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <!--Show Flashed Messages-->
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="form-group pt-4">
                            <input id="email" value="{{user.email}}" type="text" name="email" placeholder="Email">
                        </div>
                        <div class="form-group pt-4">
                            <input id="address" value="{{user.morada}}" type="text" name="address"
                                placeholder="Address">
                        </div>
                        <div class="form-group pt-4">
                            <input id="contact" value="{{user.contact}}" type="text" name="contact"
                                placeholder="Contact">
                        </div>
                        <div class="form-group pt-4">
                            <input id="image" type="file" name="image">
                        </div>
                        <div class="form-group pt-4">
                            <input id="pass" type="password" name="password" placeholder="Password">
                            <input id="pass" type="password" name="new_password" placeholder="New Password">
                            <input id="pass" type="password" name="confirm_new_password"
                                placeholder="Confirm New Password">
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="submit" value="UPDATE">
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}