<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/starter.css">
    <title>eHealth Corp</title>
    <link rel="icon" type="image/x-icon" href="static/assets/img/logo-solo.png" />
    <script src="static/js/starter.js"></script>
</head>
<body>
    <p>Welcome to <a href="index.html" id="style-2" data-replace="eHealth Corp"><span>eHealth Corp</span></a></p>
</body>
</html>

