{% extends "base.html" %}

{% block container %}
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contacts</h1>
                <hr>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.subject }}</td>
                            <td>{{ appointment.description }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>
{% endblock %}